# URL del Backend en Producción
VITE_API_URL=https://piezasyaya-backend.onrender.com/api

# Google Maps API Key (necesitas obtener esta clave)
VITE_GOOGLE_MAPS_API_KEY=tu_google_maps_api_key

# Cloudinary (usando tus credenciales reales)
VITE_CLOUDINARY_CLOUD_NAME=dsfk4ggr5
VITE_CLOUDINARY_UPLOAD_PRESET=tu_upload_preset

# Notificaciones Push (usando tu clave real)
VITE_VAPID_PUBLIC_KEY=BP5Pp6m0x8E3GW6wH32wRAK4Sw8HXbMLLANMPoq1v1_V8TPQmJgGnQ7dqH_5lUrCcMpooyZUTqVsx9fLDr3rgIE
